<style>
    /*.mt-0 {
        margin-top: 16rem !important;
        
    }*/
    table {
        /*margin: 45px auto;*/
        height: 100%;
        width: 100%;
        margin-bottom: 16rem;
    }

    /*tr, th, td {
        padding: 15px;
    }*/

    table tr:nth-child(odd) {
        background-image: linear-gradient(to right, rgba(201, 206, 190, 1), rgba(255, 225, 201, 1));
    }

    table tr:nth-child(even), th {
        background-color: lightgray;
    }
</style>

<div>

    <table border="0" class="mx-auto">
        <thead>
            <tr>
                <th>id</th>
                <th>Username</th>
                <th>Phone No</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Project_Login.Models.Users u in Model)
            {
                <tr>
                    <td>   @u.id       </td>
                    <td>   @u.Username       </td>
                    <td>   @u.PhoneNo       </td>
                </tr>
            }
        </tbody>
    </table>
</div>
