<div>
    <partial name="_CommonNavbar" />
</div>
<nav class="navbar" id="nav1">
    <span class="navbar-brand fa fa-book" id="navb1"> <b>Library Management System</b></span>
    <a class="navbar-brand " id="navb1" href="~/Login/LibrariansInfo">Librarians</a>
    <a class="navbar-brand " id="navb1">Issued Books</a>
    <a class="navbar-brand " id="navb1">Books</a>
    <a class="navbar-brand " id="navb1">Student</a>
</nav>
