@model Project_Login.Models.Student

    <div>
        <partial name="_navbarStu" />
    </div>
    <div>
        <partial name="_HomePageImage" />
    </div>
    <div>
        <partial name="_Footer" />
    </div>
    
